:host {
	background-color: black;
	box-sizing: border-box;
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
}

#player, #controls, video {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

#controls {
	transition: opacity 0.1s ease-in;
	position: absolute;
	opacity: 1;
	z-index: 1;
	left: 0;
	top: 0;
}

#footer {
	justify-content: center;
	box-sizing: border-box;
	align-items: center;
	position: absolute;
	padding: 0 0.25em;
	display: flex;
	width: 100%;
	gap: 0.25em;
	bottom: 0;
	left: 0;
}

#controls[theme~="idle"]:not(:focus-within) {
	transition: opacity 1s ease-out;
	opacity: 0;
}

#controls:before {
	background: linear-gradient(rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
	position: absolute;
	z-index: -1;
	width: 100%;
	content: '';
	height: 4.5em;
	left: 0;
	top: 0;
}

#controls:after {
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
	position: absolute;
	z-index: -1;
	width: 100%;
	content: '';
	height: 4.5em;
	bottom: 0;
	left: 0;
}

.settings {
	position: relative;
	display: flex;
	gap: 0;
}

#popup {
	background-color: var(--html-dash-player-popup-color, rgb(45, 44, 41));
	transform: translateX(0%) translateY(-100%);
	border-radius: 0.35em;
	position: absolute;
	right: 0;
	top: 0;
}

#popup:not([theme~="show"]) {
	display: none;
}

#popup > div:not(#options) {
	display: none;
}

#popup vaadin-button {
	color: var(--html-dash-player-color, #fff);
	width: 100%;
	margin: 0;
}

#popup vaadin-icon {
	height: var(--lumo-size-xs);
	width: var(--lumo-size-xs);
	margin-bottom: 0.1em;
}

#popup hr {
	background-color: var(--html-dash-player-color, #fff);
	margin-top: 0.15em;
	opacity: 0.5;
	width: 80%;
}

vaadin-button {
	height: var(--lumo-size-l);
}

vaadin-button::part(label) {
	width: 100%;
}

vaadin-button > label {
	text-align: left;
	display: flex;
	width: 100%;
	gap: 1em;
}

vaadin-button > label > span {
	font-weight: bold;
	text-align: right;
	flex-grow: 1;
	width: 100%;
}

vaadin-button[theme~="primary"] {
	background-color: var(--html-dash-player-primary-color, #00b2ff);
}

vaadin-button[disabled] > label > span {
	opacity: 0.5;
}

vaadin-icon {
	color: var(--html-dash-player-color, #fff);
	height: var(--lumo-size-s);
	width: var(--lumo-size-s);
}